.main{
    width: 100%;
    flex-grow: 1;
    background-color: pink;
    display: flex;
    flex-flow: row;
}

.side-bar{
    width: 20%;
    height: auto;
    background-color: white;
}

.card-container{
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    padding: 50px 100px;
    justify-content: space-around;
    width: 80%;
}

.btn-upload{
    margin-top: 50px;
    border-radius: 6px;
    width: 100px;
    height: 60px;
    background-color: #2ea64e;
    color: white;
    font-size: large;
    border: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}
